/*
 * ADMIN NAV
 */
.adminNav {

  .navbar {
    background-color:#333;
    min-height:25px;
    border:none;
    .navbar-brand {
      height:auto;
      padding:5px;
      margin-left:0px;
      color:#fff;
    }

    .navbar-nav >
    li {
      &.active {
        a {
          background-color:#666;
        }
      }
       a {
        color:#fff;
        padding:5px 15px;
        &:hover {
          color:#ccffcc;
        }
      }
    }
  }
}

/*
 * USER NAV
 */

.userNav {
  .navbar-brand {
    color:#fff;
  }
  .navbar-default {
    border:none;
    .navbar-nav {
      li > a {
        color:#fff;
      }
    }
  }
}
