/*
 * ADMIN NAV
 */
.adminNav {
  .navbar {
    background-color:#333;
    min-height:25px;

    .navbar-brand {
      height:auto;
      padding:5px;
      margin-left:0px;
    }

    .navbar-nav >
    li {
      &.active {
        a {
          background-color:#666;
        }
      }
       a {
        color:#fff;
        padding:5px 15px;
        &:hover {
          color:#ccffcc;
        }
      }
    }
  }
}

/*
 * USER NAV
 */

.userNav {
  .navbar-default .navbar-nav {
    li > a {
      color:#fff;
    }
  }
}
